<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userService" class="com.baizhi.service.UserService"/>

    <bean class="com.xxx.provider.ServiceExposeProvider" init-method="start" destroy-method="close" >
        <constructor-arg name="port" value="9999"/>
        <property name="registry" ref="zookeeper"/>
        <property name="exposeBeanMap">
            <map>
                <entry key="com.xxx.service.IUserService" value-ref="userService"/>
            </map>
        </property>
    </bean>
    <bean id="zookeeper" class="com.xxx.impl.ZookeeperReigstry" destroy-method="close">
        <constructor-arg name="servers" value="192.168.100.128:2181"/>
    </bean>
</beans>